{% extends "base.html" %}

{% block sidebar %}
    <nav class="d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/metrics/1/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/metrics/1/indicators">Indicators</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}